.page_header{
  background-image: url(../images/cover.jpeg);
  background-repeat: no-repeat;
  background-position: -725px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-content: end;

    
 
}

.nav{
  width: 36.4px;
  height: 36.8px;
  top: 0;
  left: 0;
  position:s;
  background-color: #6c933e;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &_img{
    width: 80%;
        
  }
    
}

.titulo{
  height: 100vh;
  color: $color-background;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
  padding: 50px;
  &_h1{
    text-align: center;
    font-family: $font-text;
    font-size: 30px;
    line-height: 50px;
    &__p{
      text-align: center;
      font-family: $font-title;
      font-size: 16px;
      line-height: 19px;
      
    }
  }

}

.down{
  border-radius: 50%;
  border: 0;
  width: 38.2px;
  height: 38.2px;
  
}