.hamb{
  //manu hamburguesa fija en index ↓
  width: 36.4px;
  height: 36.8px;
  position:fixed;
  top: 0;
  left: 0;
  background-color: #6c933e;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 110px;
  &_img{
    width: 80%;
    }
   
}

.page_header{
  background-image: url(../images/cover.jpeg);
  background-repeat: no-repeat;
  background-position: -525px;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-content: end;
  @media (width>768px){
    background-position: center;
    height: 783.9px;
    
    }

}

.titulo{
  height: 100vh;
  color: $color-background;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
  padding: 50px;
  &_h1{
    text-align: center;
    font-family: $font-text;
    font-size: 30px;
    line-height: 50px;
    &__p{
      text-align: center;
      font-family: $font-title;
      font-size: 16px;
      line-height: 19px;
      
    }
  }
  @media (width>768px){
    .titulo{
      &_h1{
        font-size: 75px;
        line-height: 100px;
        &__p{
          font-size: 25px;
          line-height: 28px;
          
        }
      }

    }
  @media (width>1280px){
    .titulo{
      &_h1{
        font-size: 85px;
        line-height: 100px;
        &__p{
          font-size: 35px;
        
        }
      }
    }
  }
  }

}

.down{
  @include scroll_funtions ();
  
}