.page_green{
    width: auto;
    background-color: $color-brand;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 10fr 1fr;
    justify-items: center;
    align-items: center;
    gap: 20px;
    @media (width>768px){
       height: 70vh;
       padding-top: 20px;
       padding-bottom: 20px;
    }
  
}
.title{
    color: $color-text;
    font-family: $font-text;
    font-size: 12px;
    margin-top: 15px;
    margin-bottom: 15px;
        &_2{
        font-size: 20px ;
        font-family: $font-text;
        }
    @media (width>768px){
        font-size: 20px;
        &_2{
            font-size: 40px;
        }
    }

}

.container{
    @media (width>768px){
        font-size: 22px;
        grid-template-rows: 1fr;
        grid-template-columns: repeat(3, 1fr);
        &_images{
            width: 768px;
            height: 410px;
              
            }
        
    }
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 5px;
    align-items: center;
    justify-items: center;
    font-family: $font-text;
    font-weight: bold;
    font-size: 14px;
    color: black;
    text-align: center;
        &_images{
        width: 114px;
        height: 124.1px;
        border-radius: 50%;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);

        }
 
}

.button_green{
    @include button_animation();
    @include button_funtions ();
    width: 184px;
    height: 47.3px;
    background-color: $color-button;
    color: $color-background;
    border-style: none;
    &:hover{
        background-color:$color-background;
        border: 2px solid $color-button;
        color: $color-brand;
        
    }

}


