.page_green{
    width: auto;
    background-color: $color-brand;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 10fr 1fr;
    justify-items: center;
    gap: 20px;


}
.title_green{
    color: $color-text;
    font-family: $font-text;
    font-size: 12px;
    margin-top: 15px;
    margin-bottom: 15px;



}

.title_2{
    font-size: 20px ;
    font-family: $font-text;
}

.container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
    align-items: center;
    justify-items: center;
    font-family: $font-text;
    font-weight: bold;
    font-size: 14px;
    color: black;
    text-align: center;
 
}

.images{
    width: 114px;
    height: 124.1px;
    border-radius: 50%;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  }
