<footer class="page_footer">
    <button class="down">
        <a href="./section_white.html">
          <img src="./images/ico-arrow.svg" alt="ico-scroll-down">
        </a>
    </button>

    <nav>
        <ul>
            <li>ZAPATILLAS</li>
            <li>ROPA</li>
            <li>NIÑO/A</li>
            <li>DESTACADOS</li>
            <li>TIPS</li>
        </ul>

        <ul>
            <li>TWITTER</li>
            <li>INSTAGRAM</li>
            <li>YOUTUBE</li>
        </ul>
    </nav>

    <div>
        <h4>&copy; 2023</h4>
        <p>we &hearts; run</p>
    </div>


    
  
</footer>
