<footer class="page_footer">
    <button class="up">
        <a href="./section_white.html">
          <img src="./images/ico-arrow.svg" alt="ico-scroll-down">
        </a>
    </button>

    <nav class="menu">
        <ul class="menu_list">
            <li><a class="menu_list__text" href="">ZAPATILLAS</a></li>
            <li><a class="menu_list__text" href="">ROPA</a></li>
            <li><a class="menu_list__text" href="">NIÑO/A</a></li>
            <li><a class="menu_list__text" href="">DESTACADOS</a></li>
            <li><a class="menu_list__text" href="">TIPS</a></li>
        </ul>

        <ul class="menu_list">
            <li><a class="menu_list__text" href="">TWITTER</a></li>
            <li><a class="menu_list__text" href="">INSTAGRAM</a></li>
            <li><a class="menu_list__text" href="">YOUTUBE</a></li>
        </ul>
    </nav>

    <div>
        <h4>&copy; 2023</h4>
        <p>we <span>&hearts;</span> run</p>
    </div>


    
  
</footer>
