<footer class="page_footer">
    <button class="up">
        <a href="index.html#hero">
          <img src="./images/ico-arrow.svg" alt="ico-scroll-down">
        </a>
    </button>

   <div class="container_footer"> 
        <nav class="menu">
            <ul class="menu_list">
                <li><a class="menu_list__text" href="https://adalab.es">ZAPATILLAS</a></li>
                <li><a class="menu_list__text" href="https://adalab.es">ROPA</a></li>
                <li><a class="menu_list__text" href="https://adalab.es">NIÑO/A</a></li>
                <li><a class="menu_list__text" href="https://adalab.es">DESTACADOS</a></li>
                <li><a class="menu_list__text" href="https://adalab.es">TIPS</a></li>
            </ul>
            <ul class="menu_list">
                <li><a class="menu_list__text" href="https://adalab.es">TWITTER</a></li>
                <li><a class="menu_list__text" href="https://adalab.es">INSTAGRAM</a></li>
                <li><a class="menu_list__text" href="https://adalab.es">YOUTUBE</a></li>
            </ul>
        </nav>
        <div>
            <h4>&copy; 2023</h4>
            <p>we <span>&hearts;</span> run</p>
        </div>
   
</footer>
