<header class="page_header">
  <nav class="nav">
    <a href="https://adalab.es/">
      <img class="nav_img" src="./images/ico-menu.svg" alt="menu" >
    </a>
  </nav>

  <div class="titulo">
    <h1 class="titulo_h1">COMIENZOS COMPARTIDOS</h1>
    
    <P class="titulo_h1__p">Todos lo que necesitas para volver al cole con ilusión</P>
    
    <button class="down">
      <a href="./section_green.html">
        <img src="./images/ico-scroll-down.svg" alt="ico-scroll-down">
      </a>
    </button>
  </div>
 
</header>
