<main class="page_green">
    <div>
        <h3>¡Prepáralos con tus marcas favoritas!</h3>
        <h2>VUELTA AL COLE</h2>
    </div>

    <div>
        <article>
            <h3>Mochilas escolares</h3>
            <img src="" alt="">
        </article>

        <article>
            <h3>Estuches</h3>
            <img src="" alt=""></article>

        <article>
            <h3>Bolsas de deporte</h3>
            <img src="" alt=""></article>
        
    </div>
    <button>Empezar ahora</button>
    

   
</main>
