<main class="page_green">
    <div>
        <h3>¡Prepáralos con tus marcas favoritas!</h3>
        <h2>VUELTA AL COLE</h2>
    </div>

    <div class="container">
        <article>
            <img class="images" src="/images/lpbts-mod05-img01-desk.png" alt="mochila">
            <h3>Mochilas escolares</h3>
        </article>

        <article>            
            <img class="images" src="/images/lpbts-mod05-img04-mob.png" alt="estuche">
            <h3>Estuches</h3>
        </article>

        <article>            
            <img class="images" src="/images/lpbts-mod05-img03-mob.png" alt="bolsas">
            <h3>Bolsas de deporte</h3>
        </article>
            

        
    </div>

    <div><button>Empezar ahora</button></div>
    

   
</main>
